/*
 * General
 */ 

#block-horizontal-loginbar-horizontal-loginbar * {
	margin: 0;
}

/*
 * Form Layout
 */ 
 
#horizontal_loginbar .form-item-name, #horizontal_loginbar .form-item-pass {
    float: left;
}

#horizontal_loginbar .form-item, #horizontal_loginbar .form-wrapper{
	margin: 0px;
	margin-right: 10px;
}

#horizontal_loginbar label{
	float: left;
	margin-right: 5px;
	margin-top: 1px;
}

#horizontal_loginbar .login-name-input, #horizontal_loginbar .login-pwd-input{
	width: 55px;
	margin-top: 1px;
	border: 1px outset black;
	border-radius: 2px 2px 2px 2px;
}

#horizontal_loginbar .horizontal-login-submit{
	width: 27px;
	height: 28px;
}

#horizontal_loginbar span.form-required{
	display: none;
}

#horizontal_loginbar {
	margin-left: 25px;
}

.region-header p {
	margin: 0;
}

#horizontal_loginbar #labels-wrapper {
	clear: both;
}

/*
 * Links Style
 */ 
#horizontal_loginbar .item-list ul {
	list-style-type: none;
	list-style-image: none;
}

#horizontal_loginbar .item-list ul li{
	float: left;
}

#horizontal_loginbar .item-list ul li.first {

}


 

/*
 * Special classes
 */ 

.hidden {
	display: none;
}

.hlogin-focus{
	background-color: #FDECB2;
}
